<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="c1" class="com.bigdata.bean.Car">
        <property name="name" value="yamha"></property>
        <property name="color" value="red"></property>
     </bean>
<!--    <bean id="p1" class="com.bigdata.bean.Person">

        <property name="name" value="tom"></property>
        <property name="age" value="1"></property>
        <property name="car" ref="c1"></property>
    </bean>-->


      <bean id="c2" class="com.bigdata.bean.Person">
          <constructor-arg name="name" value="tom"/>
          <constructor-arg name="car" ref="c1"></constructor-arg>
      </bean>


</beans>